header a {
    font-size: 14px;
    font-family: arial, sans-serif;
    color: black;
    text-decoration: none;
    padding: 10px;
}

header a:hover {
    color: black;
    text-decoration: underline;
}

.leftHeader {
    position: absolute;
    left: 0px;
    width: 50%;
    justify-content: space-between;
    padding: 6px;
}

.rightHeader {
    position: absolute;
    right: 0px;
    justify-content: space-between;
    padding: 6px;
    float: right;
}

.signIn {
    font-size: 14px;
    background-color: #1a73e8;
    color: #fff;
    border: 1px solid transparent;
    padding: 12px;
    margin-left: 8px;
    font-weight: 500;
    letter-spacing: .25px;
    line-height: 16px;
    text-align: center;
    vertical-align: middle;
    border-radius: 4px;
    box-sizing: border-box;
}

.googleLogo {
    display: flex;
    flex: center;
    padding-top:70px;
    padding-bottom: 35px;
    margin-left: auto;
    margin-right: auto;
    width: auto;
}

.searchBar {
    margin:auto; 
    max-width:500px;
    font-size: 16px;
    font-family: arial, sans-serif;
    outline: none;
    padding: 10px;
}

input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    display: block;
    border-radius: 25px;
    outline: none;
    resize: horizontal;
}

.barFunctions {
    margin-top: 5%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.searchButton {
    justify-content: flex-start;
}

.luckyButton {
    justify-content: flex-end;
}

footer {
    left: 0px;
    background-color: #ebe6e6;
    position: absolute;
    bottom: 0;
    width: 100vw;
    display: flex;
    align-items: center;
    height: 40px;
    margin-top: -40px;
}

footer a {
    font-size: 14px;
    font-family: arial, sans-serif;
    color: #70757a;
    text-decoration: none;
    padding: 6px;
}

footer a:hover {
    color: #70757a;
    text-decoration: underline;
}

.leftFooter {
    position: absolute;
    left: 0px;
    width: 50%;
    justify-content: space-between;
    padding: 6px;
}

.centerFooter {
    position: absolute;
    left: 43%;
    justify-content: space-between;
    padding: 6px;
    display: flex;
    flex-direction: row;
}

.centerFooter img {
    padding: 6px;
    height: 15px;
    width: auto;
}

.rightFooter {
    position: absolute;
    right: 0px;
    justify-content: space-between;
    padding: 6px;
    float: right;
}
